<div class="todo-wrapper">
  <div class="mat-elevation-z8" style="width: 50%;">
    <div style="display: flex; flex-direction: row; padding: 20px;">
      <h1>TO DO</h1>
      <button style="margin-left: auto" (click)="openDialog('0','0')" mat-raised-button color="primary">Add</button>
    </div>
    <table mat-table [dataSource]="dataSource">

      <!-- Todo Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Todo </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-listbox aria-label="Status selection">
            <mat-chip-option color="warn">{{ element.status }}</mat-chip-option>
          </mat-chip-listbox>
        </td>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openDialog('0','0',element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDeleteItem(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator (page)="onPageChange($event)" [length]="total" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>